.leaderboard {
    width: 100%;
    border-radius: 12px;
}







.viewFixtures-leaderboard__picture {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}



.leaderboard {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide");

html {
    box-sizing: border-box;
}

.viewFixtures-heading {
    font-size: 1.5em;
    margin-bottom: 12px;
}

.viewFixtures-card {
    background: #fff;
    background-image: linear-gradient(48deg, #fff 0%, #e5efe9 100%);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.18);
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 40px;
    max-width: 400px;
    width: 100%;
}

#modal {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    visibility: hidden;
}

#modal:target {
    opacity: 1;
    visibility: visible;
}

#modal:target .modal-body {
    opacity: 1;
    transform: translateY(1);
}

#modal .modal-body {
    max-width: 500px;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    z-index: 1;
}

.viewFixtures-outside-trigger {
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}



.SportsName {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: xxx-large;
    color: #00165a;
    text-align: center;
}



/* Media Query important. */
@media (max-width: 450px) {

    date-time{
        margin-top: 10px !important;
    }

    .viewFixtures-leaderboard__profile {
        color: grey;
    }

    .viewFixtures-button__link {}

    .viewFixtures-leaderboard__name {
        border-radius: 20px;
        box-shadow: 0px 30px 40px -20px var(--grayishBlue);
        padding: 30px;
        margin: 20px;
        text-align: center;
        border-top: 3px solid var(--blue);
        font-family: "Audiowide", sans-serif;
    }

    .viewFixtures-Submit {
        display: grid;
        justify-content: center;
        /* grid-template-columns: 1fr 3fr 1fr; */
        align-items: center;
        padding: 10px 10px 10px 10px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        cursor: pointer;
        transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
        background-color: lightgreen;
        color: #00165a !important;
        display: inline-flex;
        /* width: 19%; */
    }
    .viewFixtures-Submit:hover {
        /* transform: scale(1.2); */
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
    }

    .viewFixtures-leaderboard {}

    .viewFixtures-leaderboard__profiles {}

    .FixtureHeaders {
        display: none;
    }

    .viewFixturesTeam-mobile{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .versusCSS{
        /* border-radius: 20px; */
        /* box-shadow: 0px 30px 40px -20px var(--grayishBlue); */
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-size: x-large;
        color: #00165a;
        /* border-top: 3px solid var(--blue); */
        /* font-family: "Audiowide", sans-serif; */
    }
    .lineCSS{
        /* border-radius: 20px; */
        /* box-shadow: 0px 30px 40px -20px var(--grayishBlue); */
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-size: x-large;
        color: #00165a;
        /* border-top: 3px solid var(--blue); */
        /* font-family: "Audiowide", sans-serif; */
    }
}

@media (min-width: 767px) {
    .versusCSS{
        display: none;
    }
    .lineCSS{
        display: none;
    }

    .viewFixtures-leaderboard__profiles {
        background-color: #fff;
        border-radius: 0 0 12px 12px;
        padding: 15px 15px 20px;
        display: grid;
        row-gap: 8px;
        width: 100%;
    }

    .viewFixtures-leaderboard__profile {
        display: grid;
        justify-content: center;
        /* grid-template-columns: 1fr 3fr 1fr; */
        align-items: center;
        padding: 10px 30px 10px 10px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        cursor: pointer;
        transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
        background-color: #fff;
        display: inline-flex;
        width: 20%;
    }

    .viewFixtures-button__link {
        text-decoration: none;
    }

    .viewFixtures-leaderboard__name {
        color: #979cb0;
        font-weight: 600;
        font-size: 100%;
        letter-spacing: 0.64px;
        margin-left: 12px;
        font-family: "Audiowide", sans-serif;
        display: flex;
        /* text-align: center; */
    }

    .viewFixtures-Submit {
        display: grid;
        justify-content: center;
        /* grid-template-columns: 1fr 3fr 1fr; */
        align-items: center;
        padding: 10px 30px 10px 10px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        cursor: pointer;
        transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
        background-color: lightgreen;
        color: #00165a !important;
        display: inline-flex;
        width: 19%;
    }

    .viewFixtures-Submit:hover {
        transform: scale(1.2);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
    }

    .viewFixtures-leaderboard header {
        --start: 15%;
        height: 130px;
        background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
        color: #fff;
        position: relative;
        border-radius: 12px 12px 0 0;
        overflow: hidden;
    }

    .viewFixtures-leaderboard header .viewFixtures-leaderboard__title {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: calc(var(--start) * .75);
        transform: translateY(-50%);
        text-transform: uppercase;
        margin: 0;
    }

    .viewFixtures-leaderboard header .viewFixtures-leaderboard__title span {
        display: block;
    }

    .viewFixtures-leaderboard header .viewFixtures-leaderboard__title--top {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 6.5px;
    }

    .viewFixtures-leaderboard header .viewFixtures-leaderboard__title--bottom {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3.55px;
        opacity: 0.65;
        transform: translateY(-2px);
    }

    .viewFixtures-leaderboard header .viewFixtures-leaderboard__icon {
        fill: #fff;
        opacity: 0.35;
        width: 50px;
        position: absolute;
        top: 50%;
        left: var(--start);
        transform: translate(-50%, -50%);
    }

    .FixtureHeaders {
        justify-content: flex-start;
    }

    .FixtureHeaders div {
        width: 20%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}